.vs/Web-Push/DesignTimeBuild/.dtbcache
.vs/Web-Push/v15/.suo
.vs/Web-Push/v15/Server/sqlite3/db.lock
.vs/Web-Push/v15/Server/sqlite3/storage.ide
.vs/Web-Push/v15/Server/sqlite3/storage.ide-shm
.vs/Web-Push/v15/Server/sqlite3/storage.ide-wal
.vs/Web-Push/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
